In [8]:
import sqlite3

In [9]:
#conn = sqlite3.connect(':memory:') 

conn = sqlite3.connect('customer.db')

In [10]:
c = conn.cursor()

In [11]:
# create a table
c.execute("""CREATE TABLE customers (
    first_name text,
    last_name text,
    email text
)""")

OperationalError: table customers already exists

In [12]:
many_customers = [
                    ('will','smith','willsmith@codemy.com'),
                    ('bob','douglas','bobdouglas@codemy.com'),
                    ('derrick','rose','derrickrose@codemy.com'),
                 ]

In [13]:
# create a table
c.executemany("INSERT INTO customers VALUES (?,?,?)",many_customers)

In [14]:
c.execute("select * from customers where last_name = 'Green'")
#print(c.fetchone())
#print(c.fetchmany(3))
# print(c.fetchall())

items = c.fetchall()

for items in items:
    print(items)

('Marry', 'Green', 'MarryGreen@codemy.com')

# sqlite have only5 datatypes 
#NULL INT REAL TEXT BLOB

In [15]:
# commit our command
conn.commit()
#conn.close()

In [16]:
# update records
c.execute ("""update customers SET first_name = 'bobb' where last_name = 'douglas'
       """)
conn.commit()

In [17]:
c.execute("select rowid,* from customers")
items= c.fetchall()

for items in items:
    print(items)

(1, 'John', 'Cider', 'john@codemy.com')
(2, 'Tim', 'Smith', 'TimSmith@codemy.com')
(3, 'Marry', 'Green', 'MarryGreen@codemy.com')
(4, 'will', 'smith', 'willsmith@codemy.com')
(5, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(6, 'derrick', 'rose', 'derrickrose@codemy.com')
(7, 'will', 'smith', 'willsmith@codemy.com')
(8, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(9, 'derrick', 'rose', 'derrickrose@codemy.com')
(10, 'will', 'smith', 'willsmith@codemy.com')
(11, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(12, 'derrick', 'rose', 'derrickrose@codemy.com')

In [18]:
# update records
c.execute ("""update customers SET first_name = 'bob' where rowid = 5
       """)
conn.commit()

In [19]:
c.execute("select rowid,* from customers")
items= c.fetchall()

for items in items:
    print(items)

(1, 'John', 'Cider', 'john@codemy.com')
(2, 'Tim', 'Smith', 'TimSmith@codemy.com')
(3, 'Marry', 'Green', 'MarryGreen@codemy.com')
(4, 'will', 'smith', 'willsmith@codemy.com')
(5, 'bob', 'douglas', 'bobdouglas@codemy.com')
(6, 'derrick', 'rose', 'derrickrose@codemy.com')
(7, 'will', 'smith', 'willsmith@codemy.com')
(8, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(9, 'derrick', 'rose', 'derrickrose@codemy.com')
(10, 'will', 'smith', 'willsmith@codemy.com')
(11, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(12, 'derrick', 'rose', 'derrickrose@codemy.com')

In [20]:
# del from our records
c.execute("delete from customers where rowid=5")

In [21]:
c.execute("select rowid,* from customers")
items= c.fetchall()

for items in items:
    print(items)

(1, 'John', 'Cider', 'john@codemy.com')
(2, 'Tim', 'Smith', 'TimSmith@codemy.com')
(3, 'Marry', 'Green', 'MarryGreen@codemy.com')
(4, 'will', 'smith', 'willsmith@codemy.com')
(6, 'derrick', 'rose', 'derrickrose@codemy.com')
(7, 'will', 'smith', 'willsmith@codemy.com')
(8, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(9, 'derrick', 'rose', 'derrickrose@codemy.com')
(10, 'will', 'smith', 'willsmith@codemy.com')
(11, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(12, 'derrick', 'rose', 'derrickrose@codemy.com')

In [22]:
# Orderby
c.execute("select rowid,* from customers order by rowid DESC")
items= c.fetchall()

for items in items:
    print(items)

(12, 'derrick', 'rose', 'derrickrose@codemy.com')
(11, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(10, 'will', 'smith', 'willsmith@codemy.com')
(9, 'derrick', 'rose', 'derrickrose@codemy.com')
(8, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(7, 'will', 'smith', 'willsmith@codemy.com')
(6, 'derrick', 'rose', 'derrickrose@codemy.com')
(4, 'will', 'smith', 'willsmith@codemy.com')
(3, 'Marry', 'Green', 'MarryGreen@codemy.com')
(2, 'Tim', 'Smith', 'TimSmith@codemy.com')
(1, 'John', 'Cider', 'john@codemy.com')

In [23]:
# And/or
c.execute("select rowid,* from customers where last_name like 'sm%' or rowid = 4")
items= c.fetchall()

for items in items:
    print(items)

(2, 'Tim', 'Smith', 'TimSmith@codemy.com')
(4, 'will', 'smith', 'willsmith@codemy.com')
(7, 'will', 'smith', 'willsmith@codemy.com')
(10, 'will', 'smith', 'willsmith@codemy.com')

In [24]:
#Limiting
c.execute("select rowid,* from customers order by rowid DESC limit 3")
items= c.fetchall()

for items in items:
    print(items)

(12, 'derrick', 'rose', 'derrickrose@codemy.com')
(11, 'bobb', 'douglas', 'bobdouglas@codemy.com')
(10, 'will', 'smith', 'willsmith@codemy.com')

In [16]:
def show_all():
    #Conn to database
    conn = sqlite3.connect('customer.db')
    #Create a cursor
    c = conn.cursor()
    #Query for db
    c.execute("select rowid,* from customers")
    items= c.fetchall()
    
    for items in items:
        print(items)
    
    #Commit our cmd
    conn.commit()
    #Close out conn
    conn.close()

In [29]:
import pandas as pd
import sqlite3

In [30]:
con = sqlite3.connect('customer.db')

In [31]:
sql = """ 
select * from customers;
"""

In [32]:
df= pd.read_sql_query(sql,con)

In [33]:
df

   first_name last_name                   email
0        John     Cider         john@codemy.com
1         Tim     Smith     TimSmith@codemy.com
2       Marry     Green   MarryGreen@codemy.com
3        will     smith    willsmith@codemy.com
4         bob   douglas   bobdouglas@codemy.com
5     derrick      rose  derrickrose@codemy.com
6        will     smith    willsmith@codemy.com
7        bobb   douglas   bobdouglas@codemy.com
8     derrick      rose  derrickrose@codemy.com
9        will     smith    willsmith@codemy.com
10       bobb   douglas   bobdouglas@codemy.com
11    derrick      rose  derrickrose@codemy.com